@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", sans-serif;
}

header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 70px;
  margin-top: 10px;
  list-style: none;
  position: relative;
  padding: 12px 20px;
}
header .nav-bar .menu {
  display: flex;
  align-items: center;
}
header .nav-bar .menu li {
  margin: 0 10px;
}
header .nav-bar .menu li a {
  display: inline-block;
  text-decoration: none;
  color: gray;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
header .open-menu,
header .close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
header .open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
header .close-menu {
  top: 20px;
  right: 20px;
}
header #check {
  display: none;
}

li {
  margin: 0 10px;
}
li a {
  font-size: 0.8rem;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease;
}
li a:hover {
  color: #907e60;
  border-bottom: 3px solid #907e60;
}

.top-logo {
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 15px;
}
.top-logo p {
  margin: 5px;
}

nav li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 5%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

* .divider {
  width: 100%;
  height: 0.5px;
  background-color: #333;
  margin: 20px 0;
}

* .line {
  display: block;
  width: 5vh;
  height: 0.5px;
  background-color: #000;
  margin: 20px 5px;
}

* .number {
  display: flex;
  align-items: center;
}

.background-img {
  min-height: 100vh;
  background-image: url("./photo/bread-wooden-tray-red-white-cloth.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
}
.background-img p {
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  margin: 25px 0;
}
.background-img h1 {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
}

main .about-dangao {
  display: flex;
  background-color: rgb(255, 247, 233);
  height: 50%;
}
main .about-dangao .about-items {
  margin: 30px 30px;
}
main .about-dangao .about-items p {
  font-size: 10px;
}
main .about-dangao .about-items h1 {
  display: inline;
}
main .about-dangao .about-items span {
  font-size: 10px;
}
main .about-dangao .about-items .introduce {
  display: flex;
}
main .about-dangao .about-items .introduce p {
  font-size: 10px;
  line-height: 2;
  margin: 10px 0;
}
main .about-dangao img {
  width: auto;
  height: 200px;
  margin: 50px 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .popular-cake {
  display: flex;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  margin: 20px 50px;
}
main .popular-cake .cake {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .popular-cake .cake .title {
  margin: 0 20px;
}
main .popular-cake .cake span {
  font-size: 10px;
  margin-top: 15px;
}
main .popular-cake .divider {
  width: 10%;
  margin: 10px 0;
}
main .popular-cake p {
  padding: 20px 0;
  text-align: center;
  font-size: 10px;
  line-height: 2;
}
main .popular-cake .free-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main .popular-cake .free-photo img {
  width: 200px;
  height: auto;
}
main .new-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(248, 244, 238);
  margin: 30px 0px;
  padding: 50px 0;
}
main .new-contacts .new-contact {
  display: grid;
  align-items: center;
  width: 80%;
}
main .new-contacts .new-contact p {
  font-size: 10px;
  margin: 10px 0;
}
main .new-contacts .new-contact .news {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .new-contacts .new-contact .news .new {
  display: flex;
}
main .new-contacts .new-contact .news h1 {
  margin: 0;
  margin-right: 20px;
}
main .new-contacts .new-contact .news span {
  font-size: 10px;
  margin-top: 20px;
}
main .new-contacts .new-contact .news .new-btn {
  background-color: #a5978c;
  border: none;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-family: "Playfair Display", sans-serif;
}
main .new-contacts .divider {
  width: 80%;
  margin: 10px 0;
}
main .new-contacts .new-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .new-contacts .new-items .new-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 50px;
  margin: 10px 10px;
}
main .new-contacts .new-items .new-item .new-img {
  width: 150px;
  height: auto;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  padding: 0.3rem;
  margin-top: 10px;
}
main .new-contacts .new-items .new-item .new-img:hover {
  border: 2px solid #907e60;
}
main .new-contacts .new-items .new-item .new-menu {
  font-weight: bold;
}
main .new-contacts .new-items .new-item p {
  font-size: 10px;
  margin: 10px 10px;
  width: 250px;
  text-align: center;
}
main .new-contacts .new-items .new-item span {
  margin: 10px 0;
}
main .new-contacts .new-items .new-item a {
  color: gray;
  list-style-type: none;
  text-decoration: none;
  margin: 10px 0;
}
main .new-contacts .new-items .new-item a:hover {
  color: #907e60;
}
main .contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: 80vh;
}
main .contact-us h1 {
  text-align: center;
}
main .contact-us p {
  text-align: center;
}
main .contact-us .divider {
  width: 10%;
  margin: 10px 0;
}
main .contact-us p {
  font-size: 10px;
  padding: 5px 0;
  margin: 5px 0;
}
main .contact-us .btn {
  background-color: #a5978c;
  border: none;
  color: white;
  padding: 10px 30px;
  margin: 20px 0;
  cursor: pointer;
  font-family: "Playfair Display", sans-serif;
}
main .contact-us .btn .fa-solid {
  margin: 0 5px;
}

footer {
  display: flex;
  margin: 10px 10px;
  justify-content: space-between;
  align-items: center;
}
footer section {
  display: flex;
  align-items: center;
}
footer section .bottom-logo {
  border: 1px solid #907e60;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  color: #907e60;
}
footer section .bottom-logo p {
  margin: 10px;
}
footer section .vertical-line {
  display: inline-block;
  width: 0.5px;
  height: 50px;
  background-color: #907e60;
  margin: 0 10px;
}
footer section .company {
  font-family: sans-serif;
}
footer section .company p {
  font-size: 10px;
  color: #907e60;
}
footer .icons {
  display: block;
}
footer .icons .icon {
  display: flex;
  justify-content: flex-end;
}
footer .icons .icon a {
  list-style-type: none;
  text-decoration: none;
}
footer .icons .icon a .fa-brands {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5px;
  border: 1px solid #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #907e60;
}
footer .icons p {
  font-size: 10px;
  color: #907e60;
}

@media (max-width: 850px) {
  .nav-bar {
    position: fixed;
    background-color: rgba(255, 255, 255, 0) !important;
    margin-top: 0 !important;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
  }
  .menu .top-logo {
    display: none;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 30px;
  }
  .open-menu,
  .close-menu {
    display: block !important;
  }
  #check:checked ~ .menu {
    right: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav.menu li {
    padding-left: 30px;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}
@media (max-width: 690px) {
  .about-dangao {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about-dangao .number {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-dangao .number .line {
    margin-top: 21px !important;
  }
  .about-dangao .introduce {
    text-align: center;
  }
  .about-dangao h1 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
  }
  .about-dangao span {
    display: block;
    text-align: center;
  }
  .about-dangao img {
    display: block;
    margin: auto;
  }
}
@media (max-width: 690px) {
  .cake {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .cake h1 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
  }
  .cake .line {
    margin-top: 25px !important;
  }
  .cake span {
    display: block;
    text-align: center;
  }
}
@media (max-width: 690px) {
  .contact-us {
    height: 40vh !important;
  }
}
@media (max-width: 690px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer section {
    flex-direction: column;
    position: relative;
  }
  footer section .bottom-logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 30px 0;
  }
  footer section .bottom-logo p {
    font-size: 2.5rem;
  }
  footer section .vertical-line {
    position: absolute;
    top: 10%;
    left: -5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0.5px;
  }
  footer .icons {
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
  footer .icons .icon {
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  footer .icons p {
    margin: 10px 0;
  }
}
@media (max-width: 375px) {
  .new-contact {
    display: flex !important;
    flex-direction: column;
  }
  .new-contact .news {
    display: block !important;
    justify-content: center;
    text-align: center;
  }
  .new-contact .news .new h1 {
    margin-right: 10px !important;
  }
  .new-contact .new-btns {
    margin: 20px 0;
  }
}/*# sourceMappingURL=style.css.map */